body {
    background-color: #697077;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

section {
    margin: 35px;
    padding: 35px;;
}

#nacional {
    color: greenyellow;
    font-weight: bold;
}

#estadual{
    background: linear-gradient( to right, red, white, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
} 

#habilidades {
    width: 70%;
    margin: auto;
}

.fotos {
    border-radius: 50%;
    display: inline-block;
    width: 15%;
    vertical-align: middle;
    border: 5px solid black;
    margin: 50px 20px;
}

p {
    text-align: justify;
}

h3{
    font-weight: bold;
}

.destaque {
    color: #eb0c0c;
    font-weight: bold;
}

#nomePortfolio {
    color: #E5EEEF;
    width: 50%;
    margin: auto;
}

#navegador ul{
    
    margin: auto;
    text-align: center;
    
}

#sobre-mim {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
}

#navegador li{
    list-style-type: none;
    background-color: #141B41;
    display: inline-block;
    padding: 10px;
    margin-right: 30px;
    font-weight: bold;
    
}

#navegador li a:visited {
    color: white;
    
}